*.pyc
/c/Users/cmcmilla/Solar-for-Industry-Process-Heat/Results analysis
/c/Users/cmcmilla/Solar-for-Industry-Process-Heat/results
/c/Users/cmcmilla/Solar-for-Industry-Process-Heat/GHGRP_dl
/c/Users/cmcmilla/Solar-for-Industry-Process-Heat/__pycache__
/c/Users/cmcmilla/Solar-for-Industry-Process-Heat/tests/__pycache__
/c/Users/cmcmilla/Solar-for-Industry-Process-Heat/calculation_data/cbp10co.txt
/c/Users/cmcmilla/Solar-for-Industry-Process-Heat/calculation_data/cbp14co.txt

process_parity_calc/calculation_data/pvhp_sim.csv
